In [43]:
# 1. Напишите функцию для разделения строки и преобразования ее в список слов. 
# Пример "Robin Singh" ==> ["Robin", "Singh"]

def user(name: str) -> list:
    return name.split()

user("Robin Sing")

['Robin', 'Sing']

In [15]:
# 2.Натан любит кататься на велосипеде. 
# Поскольку Натан знает, как важно избегать обезвоживания, он выпивает 0,5 литра воды за час езды на велосипеде. 
# Вам дано время в часах, и вам нужно вернуть количество литров, которое выпьет Натан, 
# округленное до наименьшего значения. Пример time = 3 ----> litres = 1

def litrs(time: int) ->int:
    litrs = time * 0.5
    return int(litrs)
litrs(3)

1

In [28]:
# Создайте функцию, которая возвращает список целых чисел от n до 1, где n>0. Пример: n=5-->[5,4,3,2,1]

def user (n) -> list:
  return list(range(n, 0, -1))

user(5)

[5, 4, 3, 2, 1]

In [37]:
# Учитываягод,вернитестолетие,в котором он находится.Пример 1705 --> 18 1900 --> 19 1601 --> 17

def centenary(year: list) -> list:
    return(1900 // 100)

centenary(1900)

19